body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

menu {
  list-style-type: none;
}

.flex-image {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul.custom_sidebar {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}


header {
  display: flex;
  flex-direction: column;
}

.header_menu{
  padding-left: 0px;
}

.header_menu-item {
  border-right: 1px;
}

.main_content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

aside {
  display: flex;
  flex-direction: column;
}